{% extends "admin.html" %}

{% block content %}
  <h1>Создание поста</h1>
  <form method="POST">
    {{ form.hidden_tag() }}

    <div class="form-group">
      {{ form.title.label }} {{ form.title(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.topic.label }} {{ form.topic(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.roadmap_key.label }} {{ form.roadmap_key(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.content.label }} {{ form.content(class="form-control", rows=10) }}
    </div>

    <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
  </form>
{% endblock %}
